{# @todo default layout #}

{% block grid_search %}
    <div class="grid-search row text-center">
        <div class="display-inline-block">
            <form action="">
                <input type="text" placeholder="Search in table...">
                <button type="submit">
                    <i class="tiecons tiecons-search"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}